{% extends 'base.html' %}

{% block title %}Просмотр введенных дизелей{% endblock %}

{% block header %}Добавленные двигатели{% endblock %}

{% block table %}
    <table id="id_engines_table">
        <tr>
            <td>№ п./п.</td>
            <td>Марка</td>
            <td>Частота вращения вала</td>
        </tr>
        {% for engine in engines %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ engine.name }}</td>
            <td>{{ engine.nu }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}