{% extends 'base.html' %}

{% block title %}Ввод данных дизелей{% endblock %}

{% block header %}Введите данные двигателя{% endblock %}

{% block form %}
	<div class="container">
		<form method="POST" action="/add_engine">
			<div class="row p-2">
				<div class="col text-end">
					<label class="text-right">Наименование марки двигателя</label>
				</div>
				<div class="col">
					<input name="name" id="id_name" placeholder="Марка">
				</div>
			</div>
			<div class="row p-2">
				<div class="col text-end">
                    <label>Частота вращения вала n</label>
				</div>
				<div class="col">
                    <input name="nu" id="id_nu" placeholder="Частота">
				</div>
			</div>
			<div class="row p-2">
				<div class="col text-end">
                    <label>Эффективная мощность N_е</label>
				</div>
				<div class="col">
                    <input name="N_e" id="id_N_e" placeholder="Мощность">
				</div>
			</div>
			<div class="row p-2">
				<div class="col text-end">
                    <label>Среднее эффективное давление p_e</label>
				</div>
				<div class="col">
                    <input name="pe" id="id_pe" placeholder="Давление">
				</div>
			</div>
			<div class="row p-2">
				<div class="col text-end">
                    <label>Максимальное давление цикла p_z</label>
				</div>
				<div class="col">
                    <input name="pz" id="id_pz" placeholder="Давление">
				</div>
			</div>
			<div class="row p-2">
				<div class="col text-end">
                    <label>Максимальное значение боковой силы N_max</label>
				</div>
				<div class="col">
                    <input name="N_max" id="id_N_max" placeholder="Сила">
				</div>
			</div>
			<div class="row p-2">
				<div class="col text-end">
                    <label>Зазор между поршнем и втулкой delta</label>
				</div>
				<div class="col">
                    <input name="delta" id="id_delta" placeholder="Зазор">
				</div>
			</div>
			<div class="row p-2">
				<div class="col text-end">
                    <label>Жесткость втулки D_czvt</label>
				</div>
				<div class="col">
                    <input name="D_czvt" id="id_D_czvt" placeholder="Жесткость">
				</div>
			</div>
			<div class="row p-2">
				<div class="col text-end">
                    <label>Жёсткость блока цилиндров D_czb</label>
				</div>
				<div class="col">
                    <input name="D_czb" id="id_D_czb" placeholder="Жёсткость">
				</div>
			</div>
			<div class="row p-2">
				<div class="col text-end">
                    <label>Ход поршня S_n</label>
				</div>
				<div class="col">
                    <input name="S_n" id="id_S_n" placeholder="Ход">
				</div>
			</div>
			<div class="row p-2">
				<div class="col text-center">
					<button class="btn btn-primary">Завершить</button>
				</div>
			</div>
			{% csrf_token %}
		</form>
	</div>
{% endblock %}
