{% extends 'base.html' %}

{% block title %}Теоретические сведения{% endblock %}

{% block header %}Теоретические сведения{% endblock %}

{% block table %}

<div class="container">

    <p>Одними из важнейших показателей технического состояния дизелей являются уровень и характер изменения параметров вибраций, как наиболее чувствительных к различным отклонениям технического состояния от нормы.</p>

    <p>Основными источниками вибраций в дизелях являются:</p>
    <ul>
        <li>цилиндропоршневая группа;</li>
        <li>процесс горения топлива;</li>
        <li>сочленения и контакты подвижных деталей;</li>
        <li>топливная аппаратура;</li>
        <li>механизм газораспределения;</li>
        <li>зубчатые передачи;</li>
        <li>система воздухоснабжения;</li>
        <li>система газовыпуска;</li>
        <li>неуравновешенность движущихся  деталей;</li>
        <li>крутильные колебания.</li>
    </ul>
        
    <p>Известно, что удары поршня имеют место каждый раз, когда происходит изменение знака нормальной силы \N.  Обычно количество перекладок за цикл колеблется от 5-6 до 7-10 в зависимости от типа двигателя и режима его работы. </p>

    <p>Основываясь на результатах физического и теоретического анализа, можно сделать вывод о том, что определяющими параметрами вибраций остова, порождаемого перекладками поршней, являются:</p>
    <ul>
        <li>Величина зазора между тронком поршня и зеркалом втулки delta. Значение нормальной силы, под воздействием которой поршень совершает боковое движение. Для оценки общего уровня вибраций будем использовать максимальное значение боковой силы N_max.</li>
        <li>Цилиндрическая (изгибная) жесткость, значение которой можно рассчитать по формуле:</li>
        <p>\(D_{czvt}=E*h^3/(12*(1-\mu^2)\),</p>
        <p>где \(\mu\) - коэффициент Пуассона.</p>
        <li>Значение нормальной силы, под воздействием которой поршень совершает боковое движение. Для оценки общего уровня вибраций будем использовать максимальное значение боковой силы \(N_{max}\).</li>
    </ul>

        <p>Методами теории размерностей построен критерий подобия для анализа вибраций деталей остова дизеля. Методика построения приведена в: <i> Тузов, Л.В. Вибрация судовых двигателей внутреннего сгорания /Л.В. Тузов, О.К. Безюков, О.В. Афанасьева.– СПб.: СПБГПУ, 2012.– 348 с. </i></p>

        <p>Критерий подобия, пропорциональный кинетической энергии вибрирующей втулки под действием удара поршня при перекладке есть функция величины зазора \(\delta\), максимального значения боковой силы N_max и цилиндрической жесткости \(D_{czvt}\), то есть \(E_{kn}=f(\delta, N_{max}, D_{czvt})\). </p>
        
        <p>Обычно уровень вибраций ДВС измеряют на наружных поверхностях, поэтому значение критерия будет зависеть от жесткости не только втулки цилиндра, но и других деталей остова, прежде всего - блока цилиндров. Поэтому критерий, характеризующий уровень вибраций втулки цилиндра, вызванных перекладкой поршня, имеет следующий вид:</p>
        <p>\(V=C_1*\omega*S_n*N_{max}*\delta/(D_{czvt}+c*D_{czb})\)</p>
        <p>Данный критерий включает в себя такие характеристики как  жесткость блока цилиндров \(D_{czb}\), жёсткость втулки \(D_{czvt}\), максимального значения боковой силы \(N_{max}\) и величину зазора между тронком поршня и зеркалом втулки цилиндра \(\delta\), \(c\) – эмпирический коэффициент, зависящий от конструктивных особенностей ДВС и демпфирующих свойств его материалов. </p>

    <p>База основных паспортных данных дизелей:</p>
    <ul>
        <li>Эффективная мощность \(N_е\), кВт;</li>
        <li>Номинальная частота вращения коленчатого вала \(n\), мин-1;</li>
        <li>Среднее эффективное давление \(p_e\), МПа; </li>
    </ul>

    <p>База основных конструктивных дизелей:</p>
    <ul>
        <li>Зазор между поршнем и втулкой \(\delta\), м</li>
        <li>Средняя  толщина втулки цилиндра \(h_{vt}\), м;</li>
        <li>Средняя толщина блока \(h_b\), м.  </li>
    </ul>

    <p>Основные промежуточные характеристики дизелей:</p>
    <ul>
        <li>Жёсткость блока \(D_{czb}\) кг*м^2/c^2</li>
        <p>\(D_{czvt}=E*h^3/(12*(1-\mu^2))\), </p>
        <p>где \(E\) - модуль упругости; (для стали \(E=6*10^10\), а для чугуна \(E=1.15*10^11)\), \(h\) - толщина втулки (для \(D_{czvt}\)) или блока (для \(D_{czb}\)), \(\mu\) - коэффициент Пуассона; (для стали \(\mu_{ст}=0.3\), а для чугуна \(\mu_ч=0.25\)).</p>
        <li>Жёсткость втулки цилиндра D_czvt кг*м^2/c^2;</li>
        <li>Значение максимальной нормальной (боковой) составляющей силы N_max, Н.</li>
        <p>\(N_{max}=2700000*l*p_e*F_{поршня}\),</p>
        <p>где l - отношение радиуса мотыля к длине шатуна (l=0.22 ... 0.27), \(F_{поршня}=\pi*D_ч^2/4\) - площадь поршня.</p>
        <li>Диаметр цилиндра D_ц, м</li>
        <li>Ход поршня S_n, м</li>
        <li>Угловая частота \(\omega=2*\pi*n/60\)</li>
    </ul>

        <p>В качестве исходных данных были использованы значения виброскорости, измеренные на лапах 23 типов дизелей, приведённые в <i>[Руководящий технический материал. Комплекс противошумных мероприятий на судах речного флота: РТМ 212.0060-76. – Л.: Транспорт. ЛИВТ, 1978. – С. 88 – 94.]</i>. Для диагностирования состояния цилиндропоршневой группы ДВС, например при определении степени изношенности деталей ЦПГ, необходимо иметь зависимость уровня вибраций от величины безразмерного комплекса; измерить уровень вибраций на поверхности блока цилиндров; по известным значениям цилиндрической жесткости блока, втулки цилиндра и нормальной составляющей силы ДВС определить значение диаметрального зазора между тронком поршня и зеркалом втулки цилиндра. Для того чтобы обеспечить высокую точность вычисления коэффициентов, целесообразно их определять для групп дизелей с одинаковой степенью форсирования.</p>

        <p>При вычислении коэффициентов критериального уравнения для оценки виброскорости дизеля, вызванной перекладкой поршня в тепловом зазоре между зеркалом втулки цилиндра и тронком поршня, используются данные приведённые в табл.1</p>

        <p>Таблица 1</p>
        <p>Основные характеристики и средние уровни вибрации на лапах дизелей по скорости для наиболее распространённых дизелей речного флота </p>
    </div>
{% endblock %}
